<h1>Setlists</h1>
<ul>
    <% @setlists.each do |setlist| %>
    <li><%= link_to setlist.name, setlist_path(setlist) %></li>
    <% end %>
    <li><%= link_to "New...", new_setlist_path %></li>
</ul>
<%= link_to "Back", request.referrer %>