<h1><%= @group.name %></h1>
<h3>Members</h3>
<ul>
    <% @group.users.each do |user| %>
    <li><%= user.name %></li>
    <% end %>
</ul>
<h3>Setlists</h3>
<ul>
    <% @group.setlists.each do |setlist| %>
    <li><%= setlist.name %></li>
    <% end %>
</ul>